*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-image) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  position: relative;
}

/* Затемнение фона */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Затемнение */
  z-index: -1;
}
